/*
COLOR PALETTE
white #F3F1E9
tea green #F3F1E9
lavender pink #F3BCDB
plum #EE9CEA
violet #581F49
*/

/* GLOBAL STYLES 
-------------------------------------*/
/* 
  https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  height: 100%;
  line-height: 1.8;
}
body {
  background: #f7f4ef;
  font-family: "Open Sans", sans-serif;
  line-height: 1.9;
}
h1,
h2,
h3 {
  margin: 0;
  line-height: 1.8;
}
h1 {
  line-height: 1.5;
}

.content-wrapper {
  margin: 0 auto;
  padding: 30px;
  max-width: 900px;
}
.work-details p:first-child {
  margin: 0;
}

/* HOME 
-------------------------------------*/
.home {
  background: url(../placeholder-images/bg-home-office-city.jpg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}
.home .content-wrapper {
  flex: 1 0 auto;
}
.content-bg {
  background: rgb(255 255 255 / 0.9);
  padding: 30px;
}
/* RESUME 
-------------------------------------*/
.resume header::before {
  background: url(../placeholder-images/bg-home-office-city.jpg) center;
  background-size: cover;
  content: "";
  display: block;
  height: 375px;
}
.resume-section {
  margin-bottom: 30px;
  line-height: 1.2;
}
.resume-section h2 {
  border-bottom: 2px dashed #bbbbdb;
  line-height: 1.8;
}
.download-link {
  position: fixed;
  top: 5px;
  left: 5px;
}
.btn {
  background-color: rgb(255, 255, 255);
  color: #544d64;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1 rem;
  display: inline-block;
  padding: 6px;
  border-radius: 8px;
}
/* Profile 
-------------------------------------*/

/* Work Experience 
-------------------------------------*/
.work-item {
  display: grid;
  grid-template-columns: 300px 1fr;
  column-gap: 30px;
}
.work-item {
  margin: 2px 0;30
}
.work-summary {
  margin: 2px;
}
/* Education 
-------------------------------------*/

/* FOOTER 
-------------------------------------*/
footer {
  background: #282a43;
  color: #f7f4ef;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

footer a {
  color: rgb(255, 255, 255);
}
.socials {
  list-style-type: none;
  padding: 0;
}
.socials li {
  display: inline-block;
  margin-left: 10px;
}
.socials img {
  width: 32px;
}
.socials img:hover {
  opacity: 0.5;
}
