body {
  background: #f2f3ff;
  height: 100%;
  height: 60%;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid #5f59ff;
  padding-inline: 12px;
  padding-block-start: 12px;
  padding-block-end: 8px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1,
h2 {
  margin: 0;
}

.box {
  text-align: left;
  width: 40%;
}
